version: "3.9"

services:
  web:
    build: .
    command: python /code/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      - "DJANGO_SECRET_KEY=django-insecure-mtu&ksveaq7j3uhms8f3m8w)e@b^)kj5yasj3yt8a6=gl1f*jw"
      - "DJANGO_DEBUG=True"
      - "DJANGO_SECURE_SSL_REDIRECT=False"
      - "DEFAULT_FROM_EMAIL=musman2007@mail.ru"
      - "DJANGO_SECURE_HSTS_SECONDS=0"
      - "DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False"
      - "DJANGO_SECURE_HSTS_PRELOAD=False"
      - "DJANGO_SESSION_COOKIE_SECURE=False"
      - "DJANGO_CSRF_COOKIE_SECURE=False"
      - "EMAIL_HOST=smtp.mail.ru"
      - "EMAIL_HOST_USER=musman2007@mail.ru"
      - "EMAIL_HOST_PASSWORD=SKQGTXRF5XCIfT539uhb"
      - "EMAIL_PORT=465"
      - "EMAIL_USE_TLS=True"

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"

volumes:
  postgres_data:
